.create-account {
  background-color: #121212;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.create-account .div {
  background-color: #121212;
  width: 393px;
  height: 1058px;
  position: relative;
}

.create-account .next-button {
  position: absolute;
  width: 339px;
  height: 61px;
  top: 609px;
  left: 27px;
}

.create-account .overlap-group {
  position: relative;
  width: 337px;
  height: 61px;
  background-color: #407dff;
  border-radius: 15px;
}

.create-account .text-wrapper {
  width: 337px;
  height: 61px;
  font-size: 20px;
  position: absolute;
  top: 12px; 
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.create-account .group {
  position: absolute;
  width: 341px;
  height: 109px;
  top: 86px;
  left: 27px;
}

.create-account .overlap {
  position: relative;
  width: 337px;
  height: 109px;
}

.create-account .text-wrapper-2 {
  width: 248px;
  height: 62px;
  font-size: 32px;
  position: absolute;
  top: 0;
  left: -20px; 
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.create-account .p {
  position: absolute;
  width: 336px;
  height: 61px;
  top: 48px;
  left: 1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #acacac;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.create-account .group-2 {
  position: absolute;
  width: 336px;
  height: 96px;
  top: 225px;
  left: 30px;
}

.create-account .text-wrapper-3 {
  position: absolute;
  width: 84px;
  height: 16px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.create-account .overlap-group-wrapper {
  position: absolute;
  width: 335px;
  height: 63px;
  top: 33px;
  left: 1px;
}

.create-account .div-wrapper {
  position: relative;
  width: 333px;
  height: 63px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid;
  border-color: #acacac45;
}

.create-account input.text-wrapper-4 {
  position: absolute;
  width: 90%;
  height: 80%;
  top: 10px;
  left: 24px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.create-account input.text-wrapper-4::placeholder {
  color: #acacac;
  opacity: 1;
  font-weight: 400;
}

.create-account .text-wrapper-4 {
  position: absolute;
  width: 234px;
  height: 16px;
  top: 23px;
  left: 24px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #acacac;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.create-account .group-3 {
  position: absolute;
  width: 336px;
  height: 96px;
  top: 341px;
  left: 31px;
}

.create-account .group-4 {
  position: absolute;
  width: 336px;
  height: 96px;
  top: 457px;
  left: 31px;
}

.create-account .group-5 {
  position: absolute;
  width: 336px;
  height: 121px;
  top: 709px;
  left: 32px;
}

.create-account .already-have-an {
  position: absolute;
  width: 249px;
  height: 29px;
  top: 0;
  left: 41px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.create-account .span {
  color: #acacac;
}

.create-account .text-wrapper-5 {
  color: #ffffff;
}

.create-account .text-wrapper-6 {
  color: #407dff;
}

.create-account .text-wrapper-7 {
  position: absolute;
  width: 332px;
  height: 62px;
  top: 59px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #acacac;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.create-account .text-wrapper-8 {
  position: absolute;
  width: 120px; 
  height: 32px;
  top: 27px;
  left: 27px;
  font-family: "Inter", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 15px;
  text-align: left;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap; 
}
.scroll-wrapper {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  justify-content: center;
}