<ion-content>
  <div class="log-in">
    <div class="div">
      <div class="text-wrapper-7">←----</div>
      
      <div class="group">
        <div class="text-wrapper-2">Log In</div>
        <p class="p">Login on StudyBuddy to boost your academic success</p>
      </div>
      
      <div class="group-2">
        <div class="text-wrapper-3">Email</div>
        <div class="overlap-group-wrapper">
          <div class="div-wrapper">
            <input class="text-wrapper-4" type="email" placeholder="Enter your email address">
          </div>
        </div>
      </div>
      
      <div class="group-3">
        <div class="text-wrapper-3">Password</div>
        <div class="overlap-group-wrapper">
          <div class="div-wrapper">
            <input class="text-wrapper-4" type="password" placeholder="Create a password">
          </div>
        </div>
      </div>
      
      <button class="next-button">
        <div class="overlap-group">
          <div class="text-wrapper">Log In</div>
        </div>
      </button>
      
      <div class="create-an-account-wrapper">
        <p class="create-an-account">
          <span class="span">Create an account?</span>
          <span class="text-wrapper-5">&nbsp;</span>
          <span class="text-wrapper-6">Sign up</span>
        </p>
      </div>
    </div>
  </div>
</ion-content>