<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tab 6</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 6</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Empty content area to fill -->
  <div class="content-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Tab 6 - Ready to Fill</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This is Tab 6 content area. Add your content here.</p>
        <ion-button fill="outline" color="danger">Sample Button</ion-button>
        <ion-button fill="outline" color="danger">Ligth Mode</ion-button>
        <ion-button fill="outline" color="danger">Dark Mode</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
